:root{
    --blanco:#ffffff;
    --oscuro:#03053a;
    --gris:rgb(214, 193, 193);
    --primario:#3e0eff;
    --secundario:#3a0e14;
    --tamaño-fuente: 16px:
}

html{
    font-size: 62.5%;
}
body{
    font-size: 62.5%;
}

body{
    font-family: "Roboto";
    font-size: var(--tamaño-fuente); /*rem = 16px*/
    background-image:linear-gradient(to top,rgb(241, 237, 255) 0%, rgb(44, 117, 235) 100%)
}
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.6rem;
}
h1,h2,h3{
    text-align: center;
}

fieldset{
    border: none;
}

.sombra{
    -webkit-box-shadow: 8px 7px 8px 1px rgba(9, 16, 41, 0.58);
    -moz-box-shadow: 8px 7px 8px 1px rgba(0, 7, 29, 0.58);
    box-shadow: 8px 7px 8px 1px rgba(0, 0, 0, 0.58);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}
/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);
}

.boton {
    width: 100%;
    background-color: var(--oscuro);
    border: none;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: none;
}

@media (min-width: 480px) {
    .boton{
    width: auto;
    }
}


h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.titulo{
    color: black;
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: teal;
    font-size: 2rem;
}

p{
    font-size: 2,6rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primario);
}



@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
   
}

.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--gris);
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    top:  0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.informacion{
    display: flex;
    justify-content: center;
}

.micontenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    .micontenido{
        flex-direction: row;
    }
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
}

.contenido h3{
    font-weight: normal;
    color: var(--primario);

}

.contenido p{
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
}

.icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: #ffffff;
    width: min(60rem, 90%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primario);
    
}
.campo{
    width: 100%;
    margin-bottom: 1rem;
}

.contenedor-campos{
    width: 100%;
    margin-bottom: 1rem;        
}

.campo label {
    margin-bottom: 1rem;
    width: 100%;
}

.input-text{
    width: 95%;
    border: 1px solid var(--secundario);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--texto);
}

.boton:hover {
    background-color: #1f639c;
}

.boton-2 {
    width: 15%;
    background-color: green;
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prueba{
    width: 95%;
}

.contacto{
    height: 15rem;
    width: 15rem;
    background-color: rgb(141, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derechos{
    font-size: 2rem;
}

.gustos{
    font-size: 1.3rem;
    color: rgb(173, 177, 165);
}


/* MENSAJES FORMULARIO */
.success{
    background-color: green;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 1rem;
    border: 0.5rem solid rgb(24, 104, 0);
    margin-top: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.error{
    background-color: red;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 1rem;
    border: 0.5rem solid rgb(139, 1, 1);
    margin-top: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}

/* ESTILOS PARA LA LISTA DE MENSAJES */
.cabecera {
    padding-bottom: 1rem;
}

.campoCabecera {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgb(241, 89, 19);
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 1px solid var(--oscuro);
}

.fila {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 2fr 3fr 1fr;
}

.campo2 {
    font-size: 1.2rem;
    margin: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.fila.impar {
    background-color: rgb(0, 238, 255);
    height: 4.5rem;
}

.fila.par {
    background-color: rgb(194, 193, 201);
    height: 4.5rem;
}

/* Ajuste para el contenedor de los iconos */
.campoAccion {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;  /* Usar flexbox para alinear los iconos */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    gap: 5px;  /* Espacio entre los iconos */
}

/* Ajuste para los iconos */
.iconn {
    width: 34px; /* Ancho del ícono */
    height: 34px; /* Altura del ícono */
    margin: 0;  
    padding: 0;  
    display: inline-block;
}

/* quitar subrayado de los enlaces si hay alguno */
.campoAccion a {
    text-decoration: none;  /* Eliminar subrayado */
}


/* MENSAJE FORMULARIO */
.mensaje-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.mensaje-container h1 {
    background-color: #79879e;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: 20px -20px 20px -20px;
}

.mensaje-detalle {
    line-height: 1.6;
}

.mensaje-detalle p {
    margin: 10px 20;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 1.6;
    padding: 2rem;
    border-radius: 0 0 8px 8px;
    margin: -20px -20px 20px -20px;
    background-color: var(--gris);
    border-bottom: 1px solid var(--gris);
    border-top: 1rem solid var(--gris);
    border-left: 1rem solid var(--gris);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.mensaje-detalle strong {
    color: #9a32fc;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin: 50px 0;
}


/* styles.css */
.edit-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form-title {
    background-color: rgb(85, 83, 226);
    color: white;
    width: 55%;
    text-align: center;
    border-radius: 1rem;
    margin: 3rem auto; /* Esto centra el elemento horizontalmente */
    font-size: 3rem;
    text-transform: uppercase;
    display: block; /* Asegura que el elemento tome el ancho especificado */
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    width: 98%;
}

.form-input {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: vertical;
    height: 150px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-submit:hover {
    background-color: #45a049;
}

